body {
  background-color: #2B2A33;
  color: #F0F0F4;
  text-align: center;
}

a {
  color: lightskyblue;
}

a:visited {
  color: lightblue;
}

img {
  width: 300px;
  height: auto;
}

h1 {
  text-align: center;
}

.container {
  width: 600px;
  margin: auto;
}

h2, p, ul, ol {
  text-align: left;
}
